{% extends "base.html"%}
{% load static %}

{% block content %}
<br>
<br>
    <link rel="stylesheet" href="{% static "css/detail.css" %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>{{burgers.burger_name}}</h5>
                <p class="mb-0"><{{ pizza.description }}/p>
            </div>

            <div class="project-info-box">
                <p><b>Rate:</b> {{burgers.rate}}</p>
                <p><b>Prepare_time:</b> {{burgers.prepare_time}}</p>
                <p><b>Calories:</b> {{ burgers.calories }}</p>
                <p><b>Price:</b> {{ burgers.price }}</p>
                <p class="mb-0"><b>restaurant:</b> {{ burgers.restaurant }}</p>
            </div>



        <div class="btn btn-info">
                <a href="{% url "update_burger" burgers.pk %}">
                    <span class="navbar-item_sub">Update Burger</span>
                 </a>
                </div>
                 <div class="btn btn-danger">
                <a href="{% url "delete_burger" burgers.pk %}">
                    <span class="navbar-item_sub">Delete Burger</span>
                 </a>
                     </div>


        </div>

        <div class="col-md-7">
            <img src="{% if burgers.image %}{{ burgers.image.url }}{% else %}
                {% static "img/no_image.jpeg" %}
                {% endif %}" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Description:</b> {{ burgers.description }}</p>
            </div>
        </div>
    </div>
      <caption><h1>Similiar pizzas</h1></caption>
 <table class="table">



  <thead>
    <tr>

      <th scope="col">Row</th>
         <th scope="col">Name</th>
          <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Time</th>
      <th scope="col">Calories</th>
    </tr>
  </thead>


  <tbody>
  {% for sim_burger in all_burger %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
        <td>{{ sim_burger.burger_name }}</td>
      <td><img src="{{ sim_burger.image.url }}" alt="{{ sim_burger.burger_name }} Image"></td>
      <td>{{ sim_burger.price }}</td>
      <td>{{sim_burger.prepare_time}}</td>
        <td>{{ sim_burger.calories }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>


{% endblock %}