
{% extends 'base.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static "css/pizza.css" %}">
    <link rel="stylesheet" href="{% static "css/pagination.css" %}">

    <div class="container">

        {% for burger in burgers %}
            <figure class="pizza">
                <div class="pizza__hero">
                    <img src="{% if burger.image %}{{ burger.image.url }}{% else %}
                {% static "img/no_image.jpeg" %}
                {% endif %}"
                         alt="pizza" class="pizza__img">
                </div>
                <div class="burger__content">
                    <div class="burger__title">
                        <h1 class="burger__heading"> <a href = "{% url "burger_info" burger.pk %}"> {{ burger.burger_name }}</a>🍔</h1>
                        <div class="burger__tag burger__tag--1">#burger</div>
                        <div class="burger__tag burger__tag--2">#testy</div>
                    </div>
                    <p class="pizz__description">{{ burger.description }}</p>
                    <div class="pizza__details">
                        <p class="pizza__detail"><span class="emoji">🍔 </span>{{ burger.calories }} kcal</p>
                        <p class="pizza__detail"><span class="emoji">⏱ </span>{{ burger.prepare_time }} mins</p>
                        <p class="pizza__detail"><span class="emoji">⭐️ </span>{{ burger.rate }}/ 5</p>

                    </div>
                </div>
                <div class="pizza__price">${{ burger.price }}</div>

            </figure>

        {% endfor %}
        {% include "layouts/pagination.html" with page_obj=burgers %}



        <br>

    </div>
{% endblock %}
