{% extends 'base.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static "css/pizza.css" %}">
    <link rel="stylesheet" href="{% static "css/pagination.css" %}">

    <div class="container">

        {% for pizza in pizzas %}
            <figure class="pizza">
                <div class="pizza__hero">
                    <img src="{% if pizza.image %}{{ pizza.image.url }}{% else %}
                {% static "img/no_image.jpeg" %}
                {% endif %}"
                         alt="pizza" class="pizza__img">
                </div>
                <div class="pizza__content">
                    <div class="pizza__title">
                        <h1 class="pizza__heading">Pizza {{ pizza.pizza_name }}🥩</h1>
                        <div class="pizza__tag pizza__tag--1">#meat</div>
                        <div class="pizza__tag pizza__tag--2">#italian</div>
                    </div>
                    <p class="pizza__description">{{ pizza.description }}</p>
                    <div class="pizza__details">
                        <p class="pizza__detail"><span class="emoji">🍕 </span>{{ pizza.calories }} kcal</p>
                        <p class="pizza__detail"><span class="emoji">⏱ </span>{{ pizza.prepare_time }} mins</p>
                        <p class="pizza__detail"><span class="emoji">⭐️ </span>{{ pizza.rate }}/ 5</p>

                    </div>
                </div>
                <div class="pizza__price">${{ pizza.price }}</div>

            </figure>


        {% endfor %}
        {% include "layouts/pagination.html" with page_obj=pizzas %}


        <br>

    </div>
{% endblock %}
