{% extends "base.html"%}
{% load static %}

{% block content %}
<br>
<br>
    <link rel="stylesheet" href="{% static "css/detail.css" %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5 class="name_color"><b>{{pizzas.pizza_name}}</b></h5>
                <p class="mb-0"><{{ pizza.description }}/p>
            </div>

            <div class="project-info-box">
                <p><b>Rate:</b> {{pizzas.rate}}</p>
                <p><b>Prepare_time:</b> {{pizzas.prepare_time}}</p>
                <p><b>Calories:</b> {{ pizzas.calories }}</p>
                <p><b>Price:</b> {{ pizzas.price }}</p>
                <p class="mb-0"><b>restaurant:</b> {{pizzas.restaurant}}</p>
            </div>


        </div>


        <div class="col-md-7">
            <img src="{% if pizzas.image %}{{ pizzas.image.url }}{% else %}
                {% static "img/no_image.jpeg" %}
                {% endif %}" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Description:</b> {{ pizzas.description }}</p>
            </div>
        </div>
    </div>



<table class="table">
  <caption><h1>Similiar pizzas</h1></caption>


  <thead>
    <tr>

      <th scope="col">Row</th>
         <th scope="col">Name</th>
          <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Time</th>
      <th scope="col">Calories</th>
    </tr>
  </thead>


  <tbody>
  {% for sim_pizza in all_pizza %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
        <td>{{ sim_pizza.pizza_name }}</td>
      <td><img src="{{ sim_pizza.image.url }}" alt="{{ sim_pizza.pizza_name }} Image"></td>
      <td>{{ sim_pizza.price }}</td>
      <td>{{sim_pizza.prepare_time}}</td>
        <td>{{ sim_pizza.calories }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>

{% endblock %}