{% extends "base.html" %}


{% block content %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="w3-main" style="margin-left:300px">


        <header id="portfolio">
            <div class="container">
            <img src="{{ restaurant.image.url }}" style="width:65px;"
                             class="w3-circle w3-right w3-margin">
                </div>
            <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                    class="fa fa-bars"></i></span>
            <div class="w3-container">
                <h1><b>{{ restaurant.restaurant_name }}</b></h1>
                <div class="w3-section w3-bottombar w3-padding-16">
                    <span class="w3-margin-right">Filter:</span>
                    <button class="w3-button w3-black"><a href="{% url "res_detail" restaurant.pk %}">Pizzas</a></button>
                    <button class="w3-button w3-black"><a href="{% url "burger_detail" restaurant.pk %}">Burgers</a></button>

                </div>
            </div>
        </header>

    {% block detail %}

        {% endblock %}

    </div>
{% endblock %}
