{% extends "base.html"%}
{% load static %}

{% block content %}
<br>
<br>
    <link rel="stylesheet" href="{% static "css/detail.css" %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>{{burgers.burger_name}}</h5>
                <p class="mb-0"><{{ pizza.description }}/p>
            </div>

            <div class="project-info-box">
                <p><b>Rate:</b> {{burgers.rate}}</p>
                <p><b>Prepare_time:</b> {{burgers.prepare_time}}</p>
                <p><b>Calories:</b> {{ burgers.calories }}</p>
                <p><b>Price:</b> {{ burgers.price }}</p>
                <p class="mb-0"><b>restaurant:</b> {{ burgers.restaurant }}</p>
            </div>


        </div>

        <div class="col-md-7">
            <img src="{% if burgers.image %}{{ burgers.image.url }}{% else %}
                {% static "img/no_image.jpeg" %}
                {% endif %}" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Description:</b> {{ burgers.description }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}