{% extends "restaurant/base_detail.html" %}


{% block detail %}


        {% for burger in restaurant.burger.all %}
            {% if forloop.counter == 3 %}
                <div class="w3-row-padding">
            {% endif %}
            <div class="w3-third w3-container w3-margin-bottom">
                <a href = "{% url "burger_info" burger.pk %}">
                <img src="{% if burger.image %}{{ burger.image.url }}{% endif %}" alt="Nope" style="width:100%"
                     class="w3-hover-opacity">
                </a>
                <div class="w3-container w3-white">
                    <p><b><a href = "{% url "burger_info" burger.pk %}">{{ burger.burger_name }}</a></b></p>
                    <p>{{ burger.description }}</p>
                </div>
            </div>
        {% endfor %}

        </div>


{% endblock %}
